<ion-header>
    <ion-navbar>
        <ion-title>{{'Buscar Amigo' | translate}}</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="buscar($event)" *ngIf="showBar"
    [animated]=true
    [showCancelButton]="shouldShowCancel">
  </ion-searchbar>
    <ion-list *ngIf="showList">
        <ion-item *ngFor="let item of lista" (tap)="visualizarPublico(item.NombreUsuario)">
          <ion-avatar item-left>
              <img src={{item.Foto}}>
        </ion-avatar>
        <h2>{{item.Nombre}}</h2>
        <h3>{{item.NombreUsuario}}</h3>
        </ion-item>
      </ion-list>

</ion-content>