page-perfil {
    .titulo {
        color: #000000;
        text-align: center;
    }
    .imagen-perfil{
        display: inline-block;
        max-width:90vw;
        max-height:50vh;
        width: auto;
        height: auto;
        border-radius: 10%;
    }
}
