<ion-header>
  <ion-navbar>
      <button ion-button secondary menuToggle>
          <ion-icon name="menu"></ion-icon>
         </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>

  <meta charset="UFT-8">
</ion-header>

<ion-content padding style="background-color:#f4f4f4">
<ion-list>
  <ion-list >
      <h1>Eventos:</h1>
    <ion-slides pager style="font-family: 'Open Sans'">
      <ion-slide  *ngFor="let eventos of eve" (click)="detalleEvento(eventos)">
        <h2> Evento: {{eventos.NombreEvento}} </h2>
        <h2> Desde: {{eventos.FechaInicio}} </h2>
       <!-- <h2> Hasta: {{eventos.FechaFin}} </h2>-->
        <!--<h2> Hora: {{eventos.HoraInicio}} </h2>
        <h2> Fin: {{eventos.HoraFin}} </h2>
        <h2> Precio: Bs.{{eventos.Precio}}  </h2>
        <h4> {{eventos.Descripcion}} </h4>
        <h2> En: {{eventos.NombreLocal}} </h2>-->
       <!-- <img src="{{eventos.LocalRutaFoto}}" alt="">-->
        <h2> Preferencias: {{eventos.NombreCategoria}} </h2>
        <br>
      </ion-slide>
    </ion-slides>
  </ion-list>
  <ion-list>
    <h1>Lugares Turisticos:</h1>
    <ion-slides pager>
      <ion-slide  *ngFor="let lugares of lts">
          <h2> Nombre: {{lugares.NombreLT}} </h2>
          <h2> Costo: Bs.{{lugares.Costo}} </h2>
          <!--<h4> {{lugares.Descripcion}} </h4>-->
          <h4> Direccion: {{lugares.Direccion}} </h4>
          <!--<img src="{{lugares.LugarFotoRuta}}" alt="">-->
          <h2> Preferencias: {{lugares.NombreCategoria}} </h2>
          <br>
      </ion-slide>
    </ion-slides>
  </ion-list>
</ion-list>
</ion-content>
 