body{
	overflow-x: hidden;
}

.fondo-home{
	background-image: url("../../Images/fondo-home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

div.carousel{
	width: 1024px;
}

.title-cocotrip{
	color: #3B8686;
	font-size: 21px;
	font-weight: bold;
}

.text-quienes-somos{
	font-size: 16px;
}