<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>
        {{ 'Mis Amigos' | translate }} 
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list >
      <ion-item *ngFor="let item of amigo ; let i = index" (tap)="tapEvent($event)">
        <ion-avatar item-left>
            <img src="assets/images/profile.png">
        </ion-avatar>
        <h2>{{item.Nombre}} {{item.Apellido}}</h2>
        <h3>{{item.NombreUsuario}}</h3>
      
         
      <button ion-button small icon-only clear *ngIf="delete" 
      style="width:auto; display: flex; margin-top: 0px;" 
      (click)="eliminarAmigo(item.NombreUsuario, i)"> 
      <ion-icon name="remove" style="width:100%" color="danger">
      </ion-icon>
      <p style="color: red; font-size: smaller;">
        {{ 'Eliminar Amigo' | translate }}</p>
      </button>
      <button ion-button small icon-only clear *ngIf="detail" 
      style="width:auto; display: flex; margin-top: 0px;" 
      (click)="verPerfil(item.NombreUsuario)"> 
      <ion-icon name="remove" style="width:100%" color="blue">
      </ion-icon>
      <p style="color: blue; font-size: smaller;">
        {{ 'Ver Perfil' | translate }}</p>
      </button>
      </ion-item>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab style="color: white;" color="primary">
        <ion-icon name="more"></ion-icon>
      </button>
      <ion-fab-list side="top">
        
        <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" style="color: white" color="twcs" (click)="agregarAmigo()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" style="color: white" color="ssg" (click)="perfil()">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" color="sf" style="color: white" (click)="eliminar()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
  