<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
              <ion-buttons end>
                    <button ion-button icon-only (click)="Integrantes()">
                    <ion-icon name="add"></ion-icon>
                  </button>
                 </ion-buttons> 
          <ion-title>
            {{ 'Modificar Grupo' | translate }}
          </ion-title>
        </ion-navbar>
      </ion-header>
              
<ion-content padding class="card-background-page"> 
    <ion-card *ngFor="let item of grupo" class ="item-borderless"  >
        <img src={{item.RutaFoto}} class="imagen-perfil"/>
        <ion-input item-start placeholder={{item.Nombre}} 
        [(ngModel)]="nombreGrupo" class="card-title" ></ion-input>
    </ion-card>


    
    <ion-list >
            <ion-list-header>
              {{'Lider Del Grupo' | translate}}
             </ion-list-header>
                <ion-item *ngFor="let item of lider">
                  <ion-avatar item-left>
                      <img src={{item.Foto}} >
                  </ion-avatar>
                  <h2>{{item.Nombre}} {{item.Apellido}}</h2>
                  <h3>{{item.NombreUsuario}}</h3>
                  </ion-item>
          

    </ion-list> 
    <ion-list>
            <ion-list-header>
                {{ 'Integrantes' | translate }}
            </ion-list-header>
        <ion-item-sliding *ngFor="let item of miembro; let i = index">
        <ion-item>
        <h2>{{item.Nombre}} {{item.Apellido}}</h2>
        <h3>{{item.NombreUsuario}}</h3>
        <ion-avatar item-left>
            <img src={{item.Foto}}>
        </ion-avatar>
        </ion-item>
        
        <ion-item-options side="right">
        <button ion-button color="danger" icon-start (click)="eliminarIntegrantes(item.NombreUsuario, i)"> 
            <ion-icon name="close"></ion-icon>
            {{ 'Eliminar' | translate }}
        </button>
        </ion-item-options>   
        </ion-item-sliding>
        </ion-list>

    <button ion-button type="submit" block
    (click)="modificarNombre($event)">{{ 'Guardar Cambios' | translate }}</button>
</ion-content>    
