<!--
  Generated template for the ItinerarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Itinerario' | translate}}</ion-title>
    <ion-buttons end *ngIf="!edit&&!delete">
      <button ion-button icon-only (click)="calendar()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="edit">
      <button ion-button (click)="done()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="delete">
      <button ion-button (click)="doneDeleting()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-fab bottom right>
      <button ion-fab style="color: white;" color="primary">
        <ion-icon name="more"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" style="color: white" color="twcs" (click)="listar()">
          <ion-icon name="list"></ion-icon>
        </button>
        <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" style="color: white" color="ssg" (click)="crear()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button *ngIf="!list" ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" color="sf"  (click)="editar()">
          <ion-icon name="create"></ion-icon>
        </button>
        <button *ngIf="!list" ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" color="ss" style="color: white" (click)="eliminar()">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" color="ss" style="color: white" (click)="configurarNotificaciones()">
          <ion-icon name="cog"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>

    <ion-label text-wrap text-center>
      <p text-uppercase *ngIf="noIts&&!list" style="font-size:17px; margin-top: 50px; color: #3B8686; letter-spacing: 0.3em; margin-bottom:20px; display: -webkit-box; justify-content:space-between;">
      {{'NoItinerarios' | translate}}</p>
    </ion-label>
<ion-slides *ngIf="!list" loop="true" style="height: auto;" #slides>
<ion-slide *ngFor="let itinerario of its; let i= index">
  <ion-list>
    <ion-list-header style="margin-bottom: 0px; display: block" text-wrap>
      <p text-uppercase *ngIf="!edit" style="font-size:17px; margin-top: 20px; color: #3B8686; letter-spacing: 0.3em; margin-bottom:20px; display: -webkit-box; justify-content:space-between;">
        {{itinerario.Nombre}}</p>
        <p *ngIf="!edit" style="font-size: smaller; color: #3B8686;" text-left text-uppercase>
          {{'Comienza' | translate}} {{((itinerario.FechaInicio !== '0001-01-01T00:00:00') ? (itinerario.FechaInicio | date: 'dd/MM/yyyy') : '' )}}
        </p>
        <p *ngIf="!edit" style="font-size: smaller; color: #3B8686;" text-left text-uppercase>
          {{'Termina' | translate}} {{((itinerario.FechaFin !== '0001-01-01T00:00:00') ? (itinerario.FechaFin | date: 'dd/MM/yyyy') : '' )}}
        </p>
        <button ion-button small icon-only clear *ngIf="delete" style="width:auto; display: flex; margin-top: 0px;" (click)="presentConfirm(itinerario.Id, i)"> <ion-icon name="remove" style="width:100%" color="danger"></ion-icon><p style="color: red; font-size: smaller;">{{'Eliminar Itinerario' | translate}}</p>
        </button>
        <!-- (ionChange)="pre-delete(itinerario.nombre)" -->
      <div style="justify-content:space-between;">
        <button ion-button small icon-only clear *ngIf="!edit&&!delete" style="width:auto; display: flex; margin-top: 0px;" (click)="agregarItem(itinerario)"> <ion-icon name="add" style="width:100%" color="sf"></ion-icon><p style="color: #A8DBA8; font-size: smaller;">{{'Agregar Items' | translate}}</p>
        </button>
        <button ion-button small icon-only clear *ngIf="nuevoViejo" (click)="ordenar()">
          <ion-icon name="arrow-down"></ion-icon>
        </button>
        <button ion-button small icon-only clear *ngIf="!nuevoViejo" (click)="ordenar()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </div>
      <ion-item *ngIf="edit">
        <ion-input #input *ngIf="edit" text-uppercase [(ngModel)]="itinerario.Nombre" style="font-family: 'Open Sans', sans-serif;
        font-size:17px; margin-top: 9px; color: #3B8686;"></ion-input>
      </ion-item>
      <ion-item *ngIf="edit">
        <ion-label *ngIf="edit" style="font-family: 'Open Sans', sans-serif; font-size:12px;">{{'Inicio' | translate}}</ion-label>
        <ion-datetime *ngIf="edit" style="font-family: 'Open Sans', sans-serif;
        font-size:12px; margin-top: 10px; color: #3B8686;" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"  [(ngModel)]="itinerario.FechaInicio" min="2017-11-16" max="2026-12-12"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="edit">
        <ion-label *ngIf="edit" style="font-family: 'Open Sans', sans-serif; font-size:12px;">{{'Fin' | translate}}</ion-label>
        <ion-datetime *ngIf="edit" style="font-family: 'Open Sans', sans-serif;
        font-size:12px; margin-top: 10px; color: #3B8686;" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="itinerario.FechaFin" min="2017-11-16" max="2026-12-12"></ion-datetime>
      </ion-item>
    </ion-list-header>
      <ion-item-group reorder="true" (ionItemReorder)="$event.applyTo(itinerario.Items_agenda)">
        <ion-item *ngFor="let evento of itinerario.Items_agenda; let i=index" (click) ="verItem(evento, itinerario)" text-wrap>
          <section>
            <ion-buttons start *ngIf="delete">
              <button ion-button small icon-only clear *ngIf="delete" style="width:auto; display: flex; margin-top: 0px;" (click)="presentConfirmItem(itinerario.Id, evento, i)"> <ion-icon name="remove" style="width:100%" color="danger"></ion-icon><p style="color: red; font-size: smaller;">{{'Eliminar' | translate}}</p>
              </button>
            </ion-buttons>
          </section>
            <ion-avatar item-start>
              <img *ngIf="evento.Foto" [src]="base_url + evento.Foto">
              <img *ngIf="!evento.Foto" [src]="base_url+noFoto">
            </ion-avatar>
            <p style="font-weight:semibold">{{evento.Nombre}}</p>
            <p><small>{{evento.FechaInicio | date: 'dd/MM/yyyy' }}  -  {{evento.FechaFin | date: 'dd/MM/yyyy' }}</small></p>
            <p style="color: #3B8686" text-capitalize><small>{{evento.Tipo | translate}}</small></p>

        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-slide>
</ion-slides>

<ion-list *ngIf="list">
  <ion-list-header style="margin-bottom: 0px; display: block">
    <p text-uppercase *ngIf="!edit" style="font-size:17px; margin-top: 20px; color: #3B8686; letter-spacing: 0.3em; margin-bottom:20px; display: -webkit-box;">
       {{"Mis Itinerarios" | translate}}</p>
    <ion-item text-center>
      <div style="justify-content:space-between;">
        <button ion-button small icon-only clear *ngIf="!edit&&!delete&&!list" style="width:auto; display: flex; margin-top: 0px;" (click)="agregarItem(itinerario)"> <ion-icon name="add" style="width:100%" color="sf"></ion-icon><p style="color: #A8DBA8; font-size: smaller;">Agregar items</p>
        </button>
        <button ion-button small icon-only clear *ngIf="nuevoViejo" (click)="ordenarIt()">
          <ion-icon name="arrow-down"></ion-icon>
        </button>
        <button ion-button small icon-only clear *ngIf="!nuevoViejo" (click)="ordenarIt()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list-header>
  <ion-item-group reorder="true" (ionItemReorder)="$event.applyTo(its)">
    <ion-item *ngFor="let itinerario of its; let i= index" (click)="goToSlide(i+1)">
      <p style="color: #3B8686;"><strong>{{itinerario.Nombre}}</strong> - {{itinerario.Items_agenda.length}} {{'eventos' | translate}}</p>
      <p>{{((itinerario.FechaInicio !== '0001-01-01T00:00:00') ? (itinerario.FechaInicio | date: 'dd/MM/yyyy') : '' )}} - {{((itinerario.FechaFin !== '0001-01-01T00:00:00') ? (itinerario.FechaFin | date: 'dd/MM/yyyy') : '' )}}</p>
    </ion-item>
    <ion-label text-wrap text-center>
      <p text-uppercase *ngIf="noIts&&list" style="font-size:17px; margin-top: 50px; color: #3B8686; letter-spacing: 0.3em; margin-bottom:20px; display: -webkit-box; justify-content:space-between;">
      {{'NoItinerarios' | translate}}</p>
    </ion-label>
  </ion-item-group>
</ion-list>
</ion-content>
