<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- Modulo 3: Gestion de Amigos y Grupos de Amigos
          Joaquin Camacho
          Jose Herrera
          Sabina Quiroga -->

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

  <targets>

    <target name="asyncInfo" xsi:type="AsyncWrapper">
      <target name="retryInfo" xsi:type="RetryingWrapper">

        <target xsi:type="File" name="logInfo" fileName="${var:logDirectory}/${logger}.log"
                layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${stacktrace}" />
        
      </target>
     </target>

    <target name="asyncError" xsi:type="AsyncWrapper">
      <target name="retryError" xsi:type="RetryingWrapper">

        <target xsi:type="File" name="logError" fileName="${var:logDirectory}/Error.log"
          layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${stacktrace}" />

      </target>
    </target>

  </targets>

  <rules>

    <logger name="*" minlevel="Info" writeTo="asyncInfo" />

    <logger name="*" minlevel="Error" writeTo="asyncError" final="true" />

  </rules>

</nlog>