<!--
  Generated template for the ChangepassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Cambiar Contraseña' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <ion-list>
        <ion-item>
            <ion-label floating>{{ 'Confirma con la contraseña' | translate }}</ion-label>
            <ion-input type="password" formControlName="confirmpass" clearInput="true"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('confirmpass').errors && myForm.get('confirmpass').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('confirmpass').hasError('required')">{{ 'Este campo es requerido' | translate }}</p>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'Nueva contraseña' | translate }}</ion-label>
            <ion-input type="password" formControlName="newpass" clearInput="true"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('newpass').errors && myForm.get('newpass').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('newpass').hasError('required')">{{ 'Este campo es requerido' | translate }}</p>
        </ion-item>
    </ion-list>
    <button ion-button type="submit" block (click)="showToastWithCloseButton()">{{ 'Guardar Contraseña' | translate }}</button>
  </form>

</ion-content>
