<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="myForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <ion-label stacked>Nombre de usuario:</ion-label>
        <ion-input [(ngModel)]="nombreUsuario" formControlName="userName" type="text" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('userName').errors && myForm.get('userName').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('userName').hasError('required')">El campo es requerido</p>
        <p color="danger" ion-text *ngIf="myForm.get('userName').hasError('pattern')">el campo no cumple con los caracteres permitidos</p>
        <p color="danger" ion-text *ngIf="myForm.get('userName').hasError('minlength')">la minima cantidad de caracteres es 5</p>
        <p color="danger" ion-text *ngIf="myForm.get('userName').hasError('maxlength')">la maxima cantidad de caracteres es 30</p>
      </ion-item>
      <ion-item>
          <ion-icon name="" item-left></ion-icon>
          <ion-label stacked>Nombre:</ion-label>
          <ion-input [(ngModel)]="nombre" formControlName="name" type="text" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('name').hasError('required')">El campo es requerido</p>
        <p color="danger" ion-text *ngIf="myForm.get('name').hasError('pattern')">el campo no cumple con los caracteres permitidos</p>
        <p color="danger" ion-text *ngIf="myForm.get('name').hasError('minlength')">la minima cantidad de caracteres es 5</p>
        <p color="danger" ion-text *ngIf="myForm.get('name').hasError('maxlength')">la maxima cantidad de caracteres es 30</p>
      </ion-item>
      <ion-item>
          <ion-icon name="" item-left></ion-icon>
          <ion-label stacked>Apellido:</ion-label>
          <ion-input [(ngModel)]="apellido" formControlName="lastName" type="text" placeholder="Apellido"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('lastName').errors && myForm.get('lastName').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('lastName').hasError('required')">El campo es requerido</p>
        <p color="danger" ion-text *ngIf="myForm.get('lastName').hasError('pattern')">el campo no cumple con los caracteres permitidos</p>
        <p color="danger" ion-text *ngIf="myForm.get('lastName').hasError('minlength')">la minima cantidad de caracteres es 5</p>
        <p color="danger" ion-text *ngIf="myForm.get('lastName').hasError('maxlength')">la maxima cantidad de caracteres es 30</p>
      </ion-item>
      <ion-item>
            <ion-icon name="calendar" item-left></ion-icon>
            <ion-label stacked>Fecha de nacimiento:</ion-label>
            <ion-datetime [(ngModel)]="fechaNacimiento" formControlName="dateBirth" displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="myForm.get('dateBirth').errors && myForm.get('dateBirth').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('dateBirth').hasError('required')">El campo es requerido</p>
      </ion-item>
          <ion-row radio-group formControlName="gender" [(ngModel)]="genero" >
              <ion-item>
                <ion-icon name="woman" item-left></ion-icon>
                <ion-label>Mujer</ion-label>
                <ion-radio  value="F"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-icon name="man" item-left></ion-icon>
                <ion-label>Hombre</ion-label>
                <ion-radio  value="M"></ion-radio>
              </ion-item>
            </ion-row>
      <ion-item *ngIf="myForm.get('gender').errors && myForm.get('gender').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('gender').hasError('required')">El campo es requerido</p>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-left></ion-icon>
        <ion-label stacked>Correo electronico:</ion-label>
        <ion-input [(ngModel)]="correo" formControlName="email" type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">El campo es requerido</p>
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">el campo no cumple con los caracteres permitidos</p>
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('maxlength')">la maxima cantidad de caracteres es 30</p>
        </ion-item>

          <ion-item>
              <ion-icon name="eye" item-left></ion-icon>
              <ion-label stacked>Contraseña:</ion-label>
              <ion-input [(ngModel)]="clave" formControlName="password" type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">El campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('password').hasError('pattern')">el campo no cumple con los caracteres permitidos</p>
                <p color="danger" ion-text *ngIf="myForm.get('password').hasError('minlength')">la minima cantidad de caracteres es 5</p>
                <p color="danger" ion-text *ngIf="myForm.get('password').hasError('maxlength')">la maxima cantidad de caracteres es 20</p>        
            </ion-item>
            <ion-item>
              <ion-icon name="" item-left></ion-icon>
              <ion-label stacked>Confirmar contraseña:</ion-label>
              <ion-input [(ngModel)]="clavev" formControlName="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('passwordConfirmation').errors && myForm.get('passwordConfirmation').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('passwordConfirmation').hasError('required')">El campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('passwordConfirmation').hasError('pattern')">el campo no cumple con los caracteres permitidos</p>
                <p color="danger" ion-text *ngIf="myForm.get('passwordConfirmation').hasError('minlength')">la minima cantidad de caracteres es 5</p>
                <p color="danger" ion-text *ngIf="myForm.get('passwordConfirmation').hasError('maxlength')">la maxima cantidad de caracteres es 20</p>        
            </ion-item>

      <ion-row>
          <ion-col class="signup-col">
            <button ion-button full icon-left class="submit-btn" (click)="registrar()" [disabled]="myForm.invalid">Registrarse</button>
          </ion-col>
        </ion-row>
    </ion-list>
  </form>    
</ion-content>
