<div class="card color-texto">
    <div class="container-fluid pad-top">
        <h4>Ingrese los datos:</h4>
        <hr>
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Categoría</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="NombreCategoriaEditar" placeholder="Categoría">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="DescripcionCategoriaEditar" placeholder="Editar descripción">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCategorie" class="col-sm-2 control-label">Mover a la Categoría</label>
                <div class="col-sm-10">
                    <select id="CategoriaSuperiorEditar" class="form-control">
                        <option selected>Elegir</option>
                        <option>Evento</option>
                        <option>Lugar</option>
                        <option>Turista</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary pull-right">Editar Categoría</button>
                </div>
            </div>
        </form>

    </div>
</div>


