<!--
  Generated template for the ItemModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{itinerario}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="searchForm">
  <ion-item>
  <ion-label>{{'Type' | translate}}</ion-label>
  <ion-select [(ngModel)]="Tipo_item" formControlName="Tipo_item">
    <ion-option value="Evento">{{'Evento' | translate}}</ion-option>
    <ion-option value="Lugar Turistico">{{'Lugar Turistico' | translate}}</ion-option>
    <ion-option value="Actividad">{{'Actividad' | translate}}</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>{{'Fecha Inicio' | translate }}</ion-label>
  <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="FechaInicio"  formControlName="FechaInicio" min="2017-11-16" max="2026-12-12" ></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>{{'Fecha Fin' | translate }}</ion-label>
  <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="FechaFin"  formControlName="FechaFin" min="2017-11-16" max="2026-12-12" ></ion-datetime>
</ion-item>
</form>
  <ion-searchbar *ngIf="this.searchForm.valid" [(ngModel)]="searchTerm" (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
        <ion-item *ngFor="let item of items" (click)="agregarItem(item.Id)">
          <ion-avatar item-start>
            <img *ngIf="item.imagen" [src]="item.imagen">
          </ion-avatar>
            {{item.Nombre}}
        </ion-item>
    </ion-list>
</ion-content>
