  .lista {
    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
  }
  .test2 img  {
    width:100% !important;
    height : 100% !important;
    max-width: 55px;  //any size
    max-height: 55px; //any size
    }
