<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Editar Datos Personales' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="action-sheets-basic-page">
  <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <ion-list>

        <ion-title text-center><img alt="logo" src="assets/images/profile.png" class="imagen-perfil"></ion-title>
        <h2 text-center (click)="openMenu()" class="color-tittle">
          {{ 'Cambiar Foto' | translate }}
        </h2>
    
      <ion-item>
        <ion-label stacked>{{ 'Nombre' | translate }}</ion-label>
        <ion-input type="text" formControlName="nombre" clearInput="true"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('required')">Este campo es requerido</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'Apellido' | translate }}</ion-label>
        <ion-input type="text" formControlName="apellido" clearInput="true"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('apellido').errors && myForm.get('apellido').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('apellido').hasError('required')">Este campo es requerido</p>
      </ion-item>

     

    
      <ion-item>
          <ion-label floating>{{ 'Fecha de Nacimiento' | translate }}</ion-label>
          <!-- <ion-datetime displayFormat="MM DD YYYY" [(ngModel)]="myDate" ></ion-datetime> -->
          <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechanac"></ion-datetime>
      </ion-item>
      <!--  -->
      
      <ion-item>
          <ion-label stacked >{{ 'Sexo' | translate }}</ion-label>
          <ion-select formControlName="genero">
            <ion-option  value="M" >{{ 'Hombre' | translate }}</ion-option>
            <ion-option  value="F" >{{ 'Mujer' | translate }}</ion-option>
          </ion-select>
      </ion-item>
     
        
    </ion-list>
    <div>
      <button ion-button block [navPush]="change" [navParams]="usuario">{{ 'Cambiar Contraseña' | translate }}</button>
      <button ion-button type="submit" block >{{ 'Guardar Cambios' | translate }}</button>
    </div>
    

  </form>

  
</ion-content>
