<ion-header>
    <ion-navbar >
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>
        {{ 'Mis Grupos' | translate }}
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list>
          <ion-item *ngFor="let item of grupo; let i= index">
            <ion-avatar item-start>
              <img src="https://maxcdn.icons8.com/Share/icon/Food//cherry1600.png">
            </ion-avatar>
            <h2>{{item.Nombre}}</h2>
            <button ion-button small icon-only clear *ngIf="delete" style="width:auto; display: flex; margin-top: 0px;" (click)="eliminarGrupo(item.Id, i)"> <ion-icon name="remove" style="width:100%" color="danger"></ion-icon><p style="color: red; font-size: smaller;">{{ 'Eliminar Grupo' | translate }}</p>
            </button>
            <button ion-button small icon-only clear *ngIf="edit" style="width:auto; display: flex; margin-top: 0px;" (click)="modificarGrupo(item.Id, i)"> <ion-icon name="remove" style="width:100%" color="blue"></ion-icon><p style="color: blue; font-size: smaller;">{{ 'Modificar Grupo' | translate }}</p>
            </button>
            <button ion-button small icon-only clear *ngIf="detail" style="width:auto; display: flex; margin-top: 0px;" (click)="verDetalleGrupo(item.Id, i)"> <ion-icon name="remove" style="width:100%" color="blue"></ion-icon><p style="color: blue; font-size: smaller;">{{ 'Ver Detalle Del Grupo' | translate}}</p>
            </button>
          </ion-item>
        </ion-list>
  
        <ion-fab bottom right>
          <button ion-fab style="color: white;" color="primary">
            <ion-icon name="more"></ion-icon>
          </button>
          <ion-fab-list side="top">
            
            <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" style="color: white" color="twcs" (click)="crearGrupo()">
              <ion-icon name="add"></ion-icon>
            </button>
            <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" style="color: white" color="ssg" (click)="detallegrupo()">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" color="sf"  (click)="editar()">
              <ion-icon name="create"></ion-icon>
            </button>
            <button ion-fab class="fab fab-ios fab-in-list fab-ios-in-list" color="ss" style="color: white" (click)="eliminar()">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
  </ion-content>