//*.titleicon div{
  //display:inline-block;
  //text-align: center;
  //margin-bottom:10px;
 // }
.test img  {
  max-width: 50px;   //any size
  max-height: 50px;  //any size
  margin-top: 2.5%;
  border-radius: 25px;
  }

  navbar-title{
    text-align: center;
    vertical-align: center;
  }
