<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/logo/logo300.jpg" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Correo o Usuario" name="text" [(ngModel)]="usuario" formControlName="userName" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="clave" formControlName="password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button full class="submit-btn" (click)="login()">{{ 'Iniciar Sesión' | translate }}</button>
          <ion-icon color="light" name="arrow-down" (click)="Otros()"></ion-icon>
          <button ion-button full icon-left class="submit-btn" *ngIf="getVista()" (click)="googleLogin()">
            <ion-icon name="logo-google"></ion-icon> {{ 'Con Google' | translate }}
          </button>
          <button ion-button full icon-left class="submit-btn" *ngIf="getVista()" (click)="facebookLogin()">
            <ion-icon name="logo-facebook"></ion-icon> {{ 'Con Facebook' | translate }}
          </button>
          <button ion-button class="register-btn" block clear (click)="registrar()">{{ 'Registrarse' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <ion-row class="recuperar" (click) = "presentPrompt()">
    <a>{{ '¿Olvidaste tu contraseña?' | translate }}</a>
  </ion-row>
  <ion-item>
      <ion-label>Escoge el  idioma</ion-label>
      <ion-select (ionChange)="choose($event)">
        <ion-option *ngFor="let item of idioms" [value]="item.value">
          {{ item.label }}
        </ion-option>
      </ion-select>
    </ion-item>
</ion-content>