
@{
    ViewBag.Title = "ActualizarLocalidad";
}

<div class="headline card">
  <h4 class="tittle">
    Localidad
  </h4>
</div>

<form>
  <div class="form-group">
    <label for="nombreLocalidad">Nombre:</label>
    <input type="text" class="form-control" id="nombreLocalidad" value="Dunas">
  </div>
  <div class="form-group">
    <label for="descripcionLocalidad">Descripcion:</label>
    <input type="text" class="form-control" id="descripcionLocalidad" value="Diversion en grande para toda la familia, DUNAS!!">
    <IMG SRC="C:\Users\jorge\Desktop\mapas.jpg" width="300" height="300">
  </div>

  <button type="submit" class="btn btn-default">Actualizar</button>
</form>

