
@{
    ViewBag.Title = "ActualizarLocalidad";
}

<h2>ActualizarLocalidad</h2>

<form>
  <div class="form-group">
    <label for="nombreLocalidad">Nombre:</label>
    <input type="text" class="form-control" id="nombreLocalidad" value="Dunas">
  </div>
  <div class="form-group">
    <label for="descripcionLocalidad">Descripcion:</label>
    <input type="text" class="form-control" id="descripcionLocalidad" value="Diversion en grande para toda la familia, DUNAS!!">
  </div>

  <button type="submit" class="btn btn-default">Actualizar</button>
</form>

