
@{
    ViewBag.Title = "CrearLocalidad";
}

<div class="headline card">
  <h4 class="tittle">
    Localidad
  </h4>
</div>
<br>

  <form>
    <div class="form-group">
      <label for="nombreLocalidad">Nombre:</label>
      <input type="text" class="form-control" id="nombreLocalidad">
    </div>
    <div class="form-group">
      <label for="descripcionLocalidad">Descripcion:</label>
      <input type="text" class="form-control" id="descripcionLocalidad">
    </div>
    <div align="center">
      <IMG SRC="C:\Users\jorge\Desktop\mapas.jpg" width="300" height="300">
      <br>
      <br>
      <button align="center" class="btn btn-lugar-turistico-add" style="background-color: #CFF09E; color: #0B486B;font-size: 15px; font-weight: bold;">Agregar</button>
    </div>
      </form>

