
@{
    ViewBag.Title = "MostrarLocalidad";
}
<div class="headline card">
  <h4 class="tittle">
    Localidad
  </h4>
</div>

  <form>

    <br>
    <br>

    <div class="w3-container">
      <h4>Nombre:</h4>
      <label for="nombreLocalidad">Dunas</label>
      <br>

      <h4>Descripcion:</h4>
      <label for="descripcion">Diversion en grande para toda la familia, DUNAS!!</label>
      <br>
      <br>
    </div>

  <div align="center">
    <IMG SRC="C:\Users\jorge\Desktop\mapas.jpg" width="300" height="300">
    <br>
    <br>
    <button type="submit" class="btn btn-warning" style="background-color:#FF3633">Elminar</button>
    <button type="submit" class="btn btn-default" >Modificar</button>
  </div>
  <div align="left">
    <button class="btn btn-lugar-turistico-add" style="background-color: #CFF09E; color: #0B486B;font-size: 15px; font-weight: bold;">Volver</button>
  </div>
  

  
</form> 
