
@{
    ViewBag.Title = "MostrarLocalidad";
}

<form>
    <h1 align="center">
      Localidad
    </h1>
  <br>
  <br>
  
  <div class="form-group">
    <h4>Nombre:</h4>
    <label for="nombreLocalidad">Dunas</label>
    <br>

    <h4>Descripcion:</h4>
    <label for="descripcion">Diversion en grande para toda la familia, DUNAS!!</label>
    <br>
    <br>
  </div>

  <div align="center">
    <IMG SRC="C:\Users\noehr\Downloads\mapa.jpg" width="200" height="200">
    <br>
    <br>
    <button type="submit" class="btn btn-warning" style="background-color:#FF3633">Elminar</button>
    <button type="submit" class="btn btn-default" >Modificar</button>
  </div>

  <button type="submit" class="btn btn-success">Volver</button>

  
</form> 
